.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 70%;
}

.example-full-width { 
  width: 70%;
}

table { 
  width: 50%;
}
.img-list { 
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  margin:0.5rem;
}

.mat-mdc-table {
    min-width: 50%;
    border: 0;
    border-spacing: 0;
    table-layout: auto;
    white-space: normal;
    background-color: var(--mat-table-background-color, var(--mat-sys-surface));
}